/*comment*/
#commentCard_radius {
  border-radius: 10px;
}
.commentCard {
  background-color: #c4e0f9;
}
.commentBody {
  background-color: white;
}

/*reply*/
#replyAddForm {
  margin-top: 10px;
}

#replyCard_radius {
  border-radius: 10px;
}
